Repository love-apples/maxapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.yml|.*\.yaml)
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true
        always_run: false

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [python]
        pass_filenames: true
        always_run: false
        exclude: ^(tests/|examples/)

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy maxapi --ignore-missing-imports --check-untyped-defs
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

Изменена типизация для контекстов в классе Dispatcher, теперь используется словарь для хранения MemoryContext по ключу (chat_id, user_id)
  maxapi/dispatcher.py
Due: ruff, isort

Добавлены файлы конфигурации для редактора и линтинга, обновлены настройки для ruff и добавлены проверки формата. Обновлен pyproject.toml для поддержки новых версий Python.
  .editorconfig
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Makefile
  docs/guides/context.md
  pyproject.toml
Due: none

Добавлена конфигурация форматирования
  pyproject.toml
Due: none

Удалён вызов black и isort
  Makefile
Due: none

Удалены зависимости black и isort
  pyproject.toml
Due: none

Удалена зависимость ruff из pyproject.toml
  pyproject.toml
Due: none

Pydantic поднят до v2. Добавлена проверка минимальных версий
  .github/workflows/tests.yml
  maxapi/dispatcher.py
  maxapi/methods/get_messages.py
  maxapi/types/attachments/attachment.py
  maxapi/types/attachments/buttons/button.py
  maxapi/types/chats.py
  maxapi/types/message.py
  maxapi/types/updates/dialog_muted.py
  maxapi/types/updates/update.py
  maxapi/types/users.py
  maxapi/utils/time.py
  pyproject.toml
  tests/test_time_utils.py
Due: ruff, isort

Обновлено название шага установки зависимостей для ясности
  .github/workflows/tests.yml
Due: none

Поднята версия fastapi для совместимости с pydantic v2
  pyproject.toml
Due: none

Добавлены тесты для проверки сериализации
  pyproject.toml
  tests/conftest.py
  tests/test_serialization_models.py
Due: ruff

participants может быть None
  maxapi/types/chats.py
Due: ruff, isort

Покрыл тестами конвертацию
  tests/conftest.py
  tests/test_chats_timestamps.py
  tests/test_serialization_models.py
Due: ruff

Упорядочены импорты
  maxapi/dispatcher.py
  maxapi/types/attachments/attachment.py
  maxapi/types/chats.py
  maxapi/types/message.py
  maxapi/types/updates/dialog_muted.py
  maxapi/types/updates/update.py
  tests/test_chats_timestamps.py
  tests/test_context.py
  tests/test_message_body_none.py
  tests/test_messagecallback_none.py
  tests/test_serialization_models.py
  tests/test_time_utils.py
Due: ruff, isort

исправлена ошибка при обработке attachment.not.ready
  maxapi/methods/edit_message.py
  maxapi/methods/send_message.py
Due: ruff, isort

Add real-world API payload examples (Feb 2026)
  docs/MAX_API_Real_Payloads_2026.md
Due: none

Правка по ruff
  maxapi/methods/edit_message.py
  maxapi/methods/send_message.py
Due: ruff, isort

Update MAX_API_Real_Payloads_2026.md
  docs/MAX_API_Real_Payloads_2026.md
Due: none

Добавлены правила ruff группы B
  maxapi/connection/base.py
  maxapi/dispatcher.py
  maxapi/filters/callback_payload.py
  maxapi/utils/message.py
  pyproject.toml
  tests/test_chats_timestamps.py
Due: ruff, isort

Добавлены правила ruff групп COM, C4
  maxapi/dispatcher.py
  pyproject.toml
Due: ruff, isort

Добавлены новые правила ruff для групп FA, G, ICN, INP, INT, ISC, LOG, PIE
  maxapi/context/base.py
  pyproject.toml
  tests/test_types.py
Due: ruff, isort

Добавлены новые правила ruff для групп PYI, S, T, T20; обновлены аннотации типов в функциях to_ms и from_ms
  maxapi/utils/time.py
  pyproject.toml
Due: ruff, isort

Добавлены новые правила ruff для группы PT
  pyproject.toml
  tests/test_chats_timestamps.py
  tests/test_message_body_none.py
  tests/test_messagecallback_none.py
Due: ruff

Упрощены условия проверки в нескольких файлах; добавлены новые группы для правил ruff
  maxapi/dispatcher.py
  maxapi/filters/command.py
  maxapi/methods/edit_message.py
  maxapi/types/message.py
  maxapi/utils/updates.py
  pyproject.toml
  tests/conftest.py
Due: ruff, isort

Добавлены условия TYPE_CHECKING для улучшения аннотаций типов и оптимизации импорта
  maxapi/bot.py
  maxapi/connection/base.py
  maxapi/context/base.py
  maxapi/dispatcher.py
  maxapi/filters/callback_payload.py
  maxapi/methods/edit_message.py
  maxapi/methods/get_updates.py
  maxapi/types/message.py
  maxapi/types/updates/message_created.py
  maxapi/utils/inline_keyboard.py
  pyproject.toml
Due: ruff, isort

Заменены вызовы os на pathlib для работы с путями; добавлены новые правила ruff для группы PTH
  maxapi/connection/base.py
  maxapi/types/input_media.py
  pyproject.toml
Due: ruff, isort

Добавлены правила PERF FLY
  maxapi/dispatcher.py
  maxapi/methods/send_message.py
  maxapi/utils/inline_keyboard.py
  pyproject.toml
Due: ruff, isort

Обновлены экспортируемые элементы в __init__.py и добавлены новые правила для ruff
  maxapi/context/__init__.py
  maxapi/exceptions/__init__.py
  maxapi/types/__init__.py
  pyproject.toml
Due: ruff, isort

Обновлены комментарии в конфигурации ruff для добавления новых правил
  pyproject.toml
Due: none

Обновлены импорты и добавлены игнорируемые правила для ruff в конфигурации
  maxapi/connection/base.py
  maxapi/dispatcher.py
  maxapi/filters/command.py
  pyproject.toml
Due: ruff, isort

Добавлены вызовы super() в конструкторах классов для улучшения наследования
  maxapi/bot.py
  maxapi/filters/__init__.py
  maxapi/filters/callback_payload.py
  maxapi/methods/add_admin_chat.py
  maxapi/methods/add_members_chat.py
  maxapi/methods/change_info.py
  maxapi/methods/delete_bot_from_chat.py
  maxapi/methods/delete_chat.py
  maxapi/methods/delete_message.py
  maxapi/methods/delete_pin_message.py
  maxapi/methods/edit_chat.py
  maxapi/methods/edit_message.py
  maxapi/methods/get_chat_by_id.py
  maxapi/methods/get_chat_by_link.py
  maxapi/methods/get_chats.py
  maxapi/methods/get_list_admin_chat.py
  maxapi/methods/get_me.py
  maxapi/methods/get_me_from_chat.py
  maxapi/methods/get_members_chat.py
  maxapi/methods/get_message.py
  maxapi/methods/get_messages.py
  maxapi/methods/get_pinned_message.py
  maxapi/methods/get_subscriptions.py
  maxapi/methods/get_updates.py
  maxapi/methods/get_upload_url.py
  maxapi/methods/get_video.py
  maxapi/methods/pin_message.py
  maxapi/methods/remove_admin.py
  maxapi/methods/remove_member_chat.py
  maxapi/methods/send_action.py
  maxapi/methods/send_callback.py
  maxapi/methods/send_message.py
  maxapi/methods/subscribe_webhook.py
  maxapi/methods/unsubscribe_webhook.py
Due: ruff, isort

Упрощены возвращаемые значения в методах, убраны лишние скобки
  maxapi/dispatcher.py
  maxapi/types/attachments/attachment.py
  maxapi/types/attachments/audio.py
  maxapi/types/attachments/contact.py
  maxapi/types/attachments/file.py
  maxapi/types/updates/bot_added.py
  maxapi/types/updates/bot_removed.py
  maxapi/types/updates/bot_started.py
  maxapi/types/updates/bot_stopped.py
  maxapi/types/updates/chat_title_changed.py
  maxapi/types/updates/dialog_cleared.py
  maxapi/types/updates/dialog_muted.py
  maxapi/types/updates/dialog_removed.py
  maxapi/types/updates/dialog_unmuted.py
  maxapi/types/updates/message_chat_created.py
  maxapi/types/updates/message_created.py
  maxapi/types/updates/message_edited.py
  maxapi/types/updates/message_removed.py
  maxapi/types/updates/user_added.py
  maxapi/types/updates/user_removed.py
  maxapi/utils/message.py
Due: ruff, isort

Убраны f-строки без переменных
  README.md
Due: none

Использована константа вместо строки + исправлена опечатка
  README.md
Due: none

Исправлен импорт типов для Message
  maxapi/types/updates/message_callback.py
  maxapi/types/updates/message_created.py
  maxapi/types/updates/message_edited.py
Due: ruff, isort

Исправлена формулировка при регистрации обработчиков
  maxapi/dispatcher.py
Due: ruff, isort

Добавлено ручное определение типа файла при загрузке
  maxapi/types/input_media.py
Due: ruff, isort

0.9.14
  pyproject.toml
Due: none
