Repository love-apples/maxapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort

ruff:
  name: ruff
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true
  always_run: false

isort:
  name: isort
  entry: uv run isort
  language: system
  pass_filenames: true
  always_run: false

fix(api): Исправлена обработка MaxApiError в методе send_message
  maxapi/methods/send_message.py
Due: ruff, isort

0.9.12
  pyproject.toml
Due: none

Исправлена ошибка при отправке вложения типа file с использованием класса Attachment
  maxapi/methods/edit_message.py
  maxapi/methods/send_message.py
Due: ruff, isort

rename MemoryContext to Context
  maxapi/context/__init__.py
  maxapi/context/context.py
Due: ruff, isort

добавил базовый класс хранилища
  maxapi/storage/__init__.py
  maxapi/storage/base.py
Due: ruff, isort

добавил MemoryStorage
  maxapi/storage/__init__.py
  maxapi/storage/memory.py
Due: ruff, isort

изменил контекст для использования хранилища
  maxapi/context/context.py
  maxapi/dispatcher.py
Due: ruff, isort

feat: Добавлен RedisStorage для контекста
  maxapi/storage/redis.py
  pyproject.toml
Due: ruff, isort

поправил тесты с учетом измененного класса Context
  tests/conftest.py
  tests/test_context.py
  tests/test_dispatcher.py
Due: ruff

добавил тесты для MemoryStorage
  tests/test_memory_storage.py
Due: ruff

feat: Реализованы методы update_data и clear
  maxapi/storage/redis.py
Due: ruff, isort

feat: Поддержка сравнения State со стракой
  maxapi/context/state_machine.py
Due: ruff, isort

docs: Периведение doc-string к google style
  maxapi/storage/redis.py
Due: ruff, isort

doc: Добавлена ссылка на первоисточник
  maxapi/storage/redis.py
Due: ruff, isort

fix: Исправлена функция очистки
  maxapi/storage/redis.py
Due: ruff, isort

feat: Добавлены тесты для RedisStorage
  tests/conftest.py
  tests/test_memory_storage.py
  tests/test_storages.py
Due: ruff

refactor: Добавил RedisStorage в storage.__init__
  maxapi/storage/__init__.py
Due: ruff, isort

feat: Заменил MemoryContext на Context
  tests/conftest.py
Due: ruff

fix: Исправил ошибку с sample_storage и sample_storage_key
  tests/test_context.py
Due: ruff

fix: Исправил сравнения State с None
  maxapi/context/state_machine.py
Due: ruff, isort

fix: Добавил сравнение с None
  maxapi/context/state_machine.py
Due: ruff, isort

__str__ мог вернуть None, поправлено
  maxapi/context/state_machine.py
Due: ruff, isort

0.9.13
  pyproject.toml
Due: none

Добавлена возможность регистрации хендлеров через метод register в классе Event
  maxapi/dispatcher.py
Due: ruff, isort

Добавлена проверка State на None
  maxapi/filters/handler.py
Due: ruff, isort

README
  README.md
Due: none

ChatButton и MessageChatCreated устарели и не работают
  docs/examples.md
  docs/guides/handlers.md
  docs/guides/keyboards.md
  docs/types/attachments/buttons/chat_button.md
  docs/types/updates/message_chat_created.md
  maxapi/dispatcher.py
  maxapi/enums/update.py
  maxapi/types/attachments/buttons/chat_button.py
  maxapi/types/updates/message_chat_created.py
Due: ruff, isort

Добавлена обработка сырых ответов API в классе Dispatcher и обновлена логика в BaseConnection для вызова этой обработки. Введен новый тип обновления RAW_API_RESPONSE.
  maxapi/bot.py
  maxapi/connection/base.py
  maxapi/dispatcher.py
  maxapi/enums/update.py
Due: ruff, isort

fix: исправление багов, типизация, рефакторинг
  MANIFEST.in
  maxapi/bot.py
  maxapi/connection/base.py
  maxapi/context/state_machine.py
  maxapi/dispatcher.py
  maxapi/exceptions/max.py
  maxapi/filters/command.py
  maxapi/methods/edit_message.py
  maxapi/methods/send_message.py
  maxapi/types/input_media.py
  maxapi/types/updates/__init__.py
  maxapi/types/updates/bot_added.py
  maxapi/types/updates/bot_removed.py
  maxapi/types/updates/bot_started.py
  maxapi/types/updates/bot_stopped.py
  maxapi/types/updates/chat_title_changed.py
  maxapi/types/updates/dialog_cleared.py
  maxapi/types/updates/dialog_muted.py
  maxapi/types/updates/dialog_removed.py
  maxapi/types/updates/dialog_unmuted.py
  maxapi/types/updates/message_callback.py
  maxapi/types/updates/message_chat_created.py
  maxapi/types/updates/message_created.py
  maxapi/types/updates/update.py
  maxapi/utils/media.py
  pyproject.toml
  tests/conftest.py
  tests/test_dispatcher.py
Due: ruff, isort

Добавлена защита от обращения к полю body в сообщениях. Обновлена документация и типы для поддержки случаев, когда body может быть None.
  maxapi/filters/command.py
  maxapi/types/message.py
  maxapi/types/updates/message_callback.py
  maxapi/utils/updates.py
Due: ruff, isort

Добавлены тесты для обработки сообщений и колбеков с отсутствующим телом. Проверяется, что методы reply, forward, edit, delete и pin вызывают ValueError при отсутствии тела сообщения.
  tests/test_message_body_none.py
  tests/test_messagecallback_none.py
Due: ruff

Исправлен регресс проставления объекта bot
  maxapi/utils/updates.py
Due: ruff, isort

Добавлен тест для фильтра команд, проверяющий случай, когда body сообщения равно None. Фильтр должен возвращать False.
  tests/test_filters.py
Due: ruff

Исправлен докстринг с опциональной типизацией
  maxapi/types/updates/message_callback.py
Due: ruff, isort

Добавлено управление поведением при отсутствии исходного сообщения в методе send_callback. Теперь можно выбрасывать исключение или отправлять уведомление без сообщения.
  maxapi/types/updates/message_callback.py
  tests/test_messagecallback_none.py
Due: ruff, isort

Добавлена функция для автоматического пропуска интеграционных тестов, если не установлен токен MAX_BOT_TOKEN
  tests/conftest.py
Due: ruff

Удалена спонсорка
  .github/FUNDING.yml
Due: none

Улучшение типизации проекта и исправление небезопасных обращений к атрибутам объектов
  maxapi/context/context.py
  maxapi/context/state_machine.py
  maxapi/dispatcher.py
  maxapi/filters/command.py
  maxapi/types/message.py
  maxapi/types/updates/message_created.py
Due: ruff, isort

Добавлен adjust, улучшена типизация
  maxapi/utils/inline_keyboard.py
Due: ruff, isort

Path conditions:
  ruff: any of: \.py$
  isort: any of: \.py$, but not: ^(tests/|examples/)
